/**/build/*
/**/dist/*
/**/nbproject/private/*
/**/private/*
/**/target/*
/**/.classpath
/**/.project
/**/.settings/*
*.class
MathServer/*
ChatServer/*
ChatServerAT/*
HanabiClient/*
PersonServer/*
SQLiteTest/*

