/**/build/*
/**/dist/*
/**/nbproject/private/*
/**/private/*
/**/target/*
/**/.classpath
/**/.project
/**/.settings/*
*.class
MathServer/*
ChatServer/*
ChatServerAT/*
HanabiClient/*
PersonServer/*
SQLiteTest/*

ChatServer/target/classes/.netbeans_automatic_build
ChatServer/target/test-classes/.netbeans_automatic_build
