/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2020, 4:45:44 PM
    Author     : aturkarslan
*/

#container {
    display: flex;
    clear: right;
    justify-content: flex-end;
    text-align: center;
}
#cluePlayer {
    display: flex;
    clear: right;
    justify-content: flex-end;
    text-align: center;
    border-radius: 40%;
}
#clueColor {
    display: flex;
    clear: right;
    justify-content: flex-end;
    text-align: center;

}

#clueNumber {
    display: flex;
    clear: right;
    justify-content: flex-end;
    text-align: center;
}

.clueHeading{
    position: relative;
    display: flex;
    clear: left;
    justify-content: flex-end;
    text-align: center;
}
.boxed {
    height: 200px;
    width: 100px;
    padding: 20px;
    border: 5px solid;
    margin: 0;
}
.right {
    right: 0px;
    text-align: center;
    float: right;
}
.inline-block {
    display: inline-block;
}

.clueButtons{
    padding: 0px;
    margin-left: 0;
    text-align: center;
    display: inline-block;
    float: left;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.clueButtons:hover{
    background-color: transparent;
}

.clueButtons:disabled{
    color: lightgrey;
    background-color: lightgoldenrodyellow;
}

#selectors {
    display: flex;
}

#pileselectors {
    display: flex;
    margin-left: 0;
}

.player1Cards{
    display: inline;
}

.player2Cards{
    
}

.player3Cards{
    
}

.player4Cards{
    
}

.player5Cards{
    
}

.player6Cards{
    
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgray;
}


